@import './../../styles.scss';

.content {
    background-image: url('./../../assets/img/28.\ Hero\ Background.svg');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content:  center;
    margin-left: 100px;
    >.about-me-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        >h2 {
            @include defaultFont($font-weight: 700, $fontsize:90px, $color: #FFFFFF)
        }
        >p {
            @include defaultFont($font-weight: 400, $fontsize:16px, $color: #FFFFFF)
        }
        >.about-me-point {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;
            >img {
                width: 48px;
                height: 48px;
            }
            >p {
                @include defaultFont($font-weight: 400, $fontsize: 16px, $color: #FFFFFF)
            }
        }
    }
    >.about-me-picture-container {
        >.about-me-picture {
            display: flex;
            flex-direction: row;
            padding-left: 100px;
            >img {
                width: 453px;
                height: 453px;
                border-radius: 50%;
                object-fit: contain;
                border: 4px solid #70E61C;
            }
        }
    }

}