<div class="content">
    <h2>About me</h2>
    <div class="container">
        <div class="about-me-container">
            <p>IT has fascinated me since I was a child. Both in my apprenticeship and during my studies, I started automating processes early on and further deepened my great interest in IT.</p>
            <div class="about-me-point">
                <img src="./../../assets/img/located_icon.svg" alt="location">
                <p>I live in Solling in the district of Northeim and feel very much at home there.</p>
            </div>
            <div class="about-me-point">
                <img src="./../../assets/img/bulb_icon.svg" alt="bulb">
                <p>I am always open to new technologies and learning new things is almost a hobby of mine.</p>
            </div>
            <div class="about-me-point">
                <img src="./../../assets/img/puzzle_icon.svg" alt="puzzle">
                <p>My analytical skills have always helped me to progress. For me, mistakes are an opportunity to learn from them and continuously improve.</p>
            </div>
        </div>
        <div class="about-me-picture-container">
            <div class="about-me-picture">
                <img src="./../../assets/img/HenrikPetersen3_mit Rand.png" alt="Henrik Petersen">
            </div>
            <div class="picture-left-line"></div>
        </div>
    </div>
</div>