@import './../../styles.scss';

.content {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    >h2 {
        @include defaultFont($font-weight: 700, $fontsize:90px, $color: #FFFFFF)
    }
    >.container {
        display: flex;
        flex-direction: row;
        >.about-me-container {
            >p {
                @include defaultFont($font-weight: 400, $fontsize:16px, $color: #FFFFFF)
            }
            >.about-me-point {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 16px;
                >img {
                    width: 48px;
                    height: 48px;
                }
                >p {
                    @include defaultFont($font-weight: 400, $fontsize: 16px, $color: #FFFFFF)
                }
            }
        }
        >.about-me-picture-container {
            >.about-me-picture {
                display: flex;
                flex-direction: row;
                padding-left: 100px;
                >img {
                    width: 453px;
                    height: 453px;
                    border-radius: 50%;
                    object-fit: contain;
                    border: 4px solid #70E61C;
                }
                >.picture-left-line {
                    border: 2px solid #70E61C;
                    width: 100px;
                }
            }
        }
    }

}