<div class="content">
    <div class="about-me-container">
        <h2>{{getText("headline")}}</h2>
        <p>{{getText("intro")}}</p>
        <div class="about-me-point">
            <img src="assets/img/located_icon.svg" alt="location">
            <p>{{getText("location")}}</p>
        </div>
        <div class="about-me-point">
            <img src="assets/img/bulb_icon.svg" alt="bulb">
            <p>{{getText("learn")}}</p>
        </div>
        <div class="about-me-point">
            <img src="assets/img/puzzle_icon.svg" alt="puzzle">
            <p>{{getText("skills")}}</p>
        </div>
    </div>
    <div class="about-me-picture-container">
        <div class="about-me-picture">
            <img src="assets/img/HenrikPetersen3_mit Rand.png" alt="Henrik Petersen">
        </div>
    </div>
    <div class="shadow">

    </div>
</div>
