<section class="about-me">
    <div class="spacer"></div>
    <div class="content">
        <div class="about-me-container" data-aos="fade-right">
            <h2>{{ 'about-me.headline' | translate }}</h2>
            <p>{{ 'about-me.intro' | translate }}</p>
            <div class="about-me-point">
                <img src="assets/img/located_icon.svg" alt="location">
                <p>{{ 'about-me.location' | translate }}</p>
            </div>
            <div class="about-me-point">
                <img src="assets/img/bulb_icon.svg" alt="bulb">
                <p>{{ 'about-me.learn' | translate }}</p>
            </div>
            <div class="about-me-point">
                <img src="assets/img/puzzle_icon.svg" alt="puzzle">
                <p>{{ 'about-me.skills' | translate }}</p>
            </div>
        </div>
        <div class="about-me-picture-container" data-aos="fade-left">
            <div class="about-me-picture">
                <img src="assets/img/HenrikPetersen3_mit Rand.png" alt="Henrik Petersen">
            </div>
        </div>
        <!-- <div class="background">
            <img src="assets/img/30. Purple shadow about me.svg" alt="">
        </div> -->
    </div>
    <div class="line" data-aos="fade-left"></div>
</section>

