<section class="about-me">
    <div class="spacer"></div>
    <section class="content">
        <article aria-label="Über mich Sektion" class="about-me-container" data-aos="fade-right">
            <h2>{{ 'about-me.headline' | translate }}</h2>
            <p>{{ 'about-me.intro' | translate }}</p>
            <article class="about-me-point" aria-label="Über meinen Standort">
                <img src="assets/img/located_icon.svg" alt="location">
                <p>{{ 'about-me.location' | translate }}</p>
            </article>
            <article class="about-me-point" aria-label="Über mein Lernverhalten">
                <img src="assets/img/bulb_icon.svg" alt="bulb">
                <p>{{ 'about-me.learn' | translate }}</p>
            </article>
            <article class="about-me-point" aria-label="Über meine Fähigkeiten">
                <img src="assets/img/puzzle_icon.svg" alt="puzzle">
                <p>{{ 'about-me.skills' | translate }}</p>
            </article>
        </article>
        <article class="about-me-picture-container" data-aos="fade-left">
            <div class="about-me-picture">
                <img aria-label="Bild von Henrik Petersen" src="assets/img/HenrikPetersen3_mit Rand-min.png" alt="Henrik Petersen">
            </div>
        </article>
        <div class="background">
            <img aria-label="Hintergrundbild" src="assets/img/30. Purple shadow about me.svg" alt="">
        </div>
    </section>
    <div class="line" data-aos="fade-left"></div>
</section>

