@import './../../../styles.scss';

.about-me {
    background-color: #141D2F;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 120px;
}

.spacer {
    flex: 1;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    max-width: 1440px;
    position: relative;
    z-index: 3;
    >.about-me-container {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-left: 100px;
        >h2 {
            @include defaultFont($font-weight: 700, $fontsize:90px, $color: #FFFFFF);
        }
        >p {
            @include defaultFont($font-weight: 400, $fontsize:16px, $color: #FFFFFF);
        }
        >.about-me-point {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;
            >img {
                width: 48px;
                height: 48px;
            }
            >p {
                word-break: break-word;
                @include defaultFont($font-weight: 400, $fontsize: 16px, $color: #FFFFFF);
            }
        }
    }
    >.about-me-picture-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        z-index: 1;
        >.about-me-picture {
            margin-left: 100px;
            >img {
                width: 453px;
                height: 453px;
                border-radius: 50%;
                object-fit: contain;
                border: 4px solid #70E61C;
            }
        }
    }
    >.background {
        position: absolute;
        top: -125px;
        right: -550px;
        height: 570px;
        width: 600px;
        z-index: 2;
        >img {
            width: 100%;
            height: 100%;
        }
    }
}

.line {
    height: 4px;
    background-color: #70E61C;
    flex: 1;
    z-index: 3;
}

@media (max-width: 1100px) {
    .content > .about-me-container {
        gap: 12px;
        h2 {
            font-size: 45px;
        }
    }
    .content > .about-me-picture-container > .about-me-picture {
        margin-left: 25px;
    }
    .background {
        top: -200px !important;
        right: -250px !important;
        height: 415px !important;
        width: 391px !important;
    }
}

@media (max-width: 950px) {
    .content {
        .about-me-picture-container {
            .about-me-picture > img {
                width: 300px;
                height: 300px;
                margin-right: 25px;
            }
        }
    }
}

@media (max-width: 750px) {
    .content {
        .about-me-container {
            margin: 25px;
            h2 {
                @include defaultFont($font-weight: 700, $fontsize: 45px, $color: #FFFFFF);
            }
        }
        .about-me-picture-container {
            display: none;
        }
    }
    .background {
        top: -150px !important;
        right: -0 !important;
        height: 300px !important;
        width: 200px !important;
    }
}
