@import './../../../styles.scss';

* {
    background-color: #141D2F;
}

header {
    height: 80px;
    position: sticky;
    z-index: 1000;
    top: 0;
    padding: 37px 100px 37px 100px;
    box-sizing: border-box;
    >.content {
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        >div >svg {
            width: 150px;
        }
        >.nav-bigscreen {
            display: flex;
            align-items: center;
            gap: 29px;
            >a {
                @include defaultFont();
                &:hover {
                    color: #70E61C;
                }
            }
            >img {
                width: 36px;
                height: 36px;
            }
        }
        >.nav-mobile {
            display: none;
            >a >img {
                width: 30px;
            }
        }
    }
}

.burger-menu {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 29px;
    background-color: #414856;
    height: calc(100vh - 50px);
    >a {
        background-color: #414856;
        @include defaultFont($font-weight: 400, $fontsize: 23px, $color: #FFFFFF);
    }
    >img {
        background-color: #414856;
        width: 36px;
        height: 36px;
    }
}

.open {
    display: flex;
}

@media (max-width: 750px) {
    header {
        height: 50px;
        width: 100%;
        padding: 37px 50px 37px 50px;
        .content {
            .nav-bigscreen {
                display: none;
            }
            .nav-mobile {
                display: flex;
            }
        }
    }
}

@media (max-width: 500px) {
    header {
        padding: 25px 25px 25px 25px;
    }
}