@import './../../../styles.scss';

* {
    background-color: #141D2F;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
    position: fixed;
    z-index: 1000;
    top: 0;
    padding: 37px 100px 37px 100px;
    box-sizing: border-box;
    width: 100%;
    >.content {
        width: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        >div >svg {
            width: 150px;
            &:focus {
                outline: none;
            }
        }
        >.nav-bigscreen {
            display: flex;
            align-items: center;
            gap: 29px;
            >a {
                @include defaultFont();
                &:hover {
                    color: #70E61C;
                }
            }
            >.change-languages {
                display: flex;
                flex-direction: row;
                gap: 14px;
                >button {
                    background-color: transparent;
                    border: 1px solid #70E61C;
                    border-radius: 10px;
                    padding: 5px 8px 5px 8px;
                    cursor: pointer;
                    @include defaultFont($font-weight: 400, $fontsize: 18px, $color: #FFFFFF);
                }
            }
        }
        >.nav-mobile {
            display: none;
            >a >img {
                width: 30px;
            }
        }
    }
}

.burger-menu {
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 29px;
    background-color: #414856;
    height: 100vh;
    position: fixed;
    width: 100%;
    >a {
        background-color: #414856;
        @include defaultFont($font-weight: 400, $fontsize: 23px, $color: #FFFFFF);
    }
    >.language-burger-menu {
        display: flex;
        flex-direction: row;
        >a, p {
            cursor: pointer;
            border: none;
            background-color: #414856;
            @include defaultFont($font-weight: 400, $fontsize: 23px, $color: #FFFFFF);
        }
    }

}

.open {
    display: flex;
}

@media (max-width: 815px) {
    header {
        .content {
            .nav-bigscreen > a {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 750px) {
    header {
        width: 100%;
        padding: 37px 50px 37px 50px;
        .content {
            display: flex;
            align-items: center;
            .nav-bigscreen {
                display: none;
            }
            .nav-mobile {
                display: flex;
                img {
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    header {
        padding: 25px 25px 25px 25px;
    }
}