@import './../../../styles.scss';

* {
    background-color: #141D2F;
}

header {
    height: 80px;
    position: sticky;
    z-index: 1000;
    left: 0;
    top: 0;
    padding: 37px 100px 37px 100px;
    >.content {
        display: flex;
        justify-content: space-between;
        >div {
            >svg {
                width: 150px;
            }
        }
        >nav {
            display: flex;
            align-items: center;
            gap: 29px;
            >a {
                @include defaultFont();
                &:hover {
                    color: #70E61C;
                }
            }
        }
    }
}