<div class="main">
    <div class="picture-container">
        <img src="./../../assets/img/HP_default.png" alt="Henrik Petersen">
    </div>
    <div class="introduction-container">
        <div class="text-container">
            <div class="rotate-introduction">
                <span class="rotate-text">I am</span>
            </div>
            <div class="introduction">
                <span class="name">Henrik Petersen<br></span>
                <span class="position">Frontend Developer</span>
            </div>
        </div>
        <div class="button-container">
            <button>Let's talk</button>
        </div>
    </div>
</div>
<div class="contact-container">
    <div class="link-container">
        <div class="line"></div>
        <a class="icon" target="_blank" href="https://github.com/HPetersen2"><img src="./../../assets/img/github_big.svg" alt="github"></a>
        <a class="icon" href="mailto:henrik.petersen@mail.de"><img src="./../../assets/img/mail_big.svg" alt="mail"></a>
        <a class="icon" target="_blank" href="https://www.linkedin.com/in/henrik-petersen-9b08b3346/"><img src="./../../assets/img/linkedin_big.svg" alt="linkedin"></a>
        <a class="mail" href="mailto:henrik.petersen@mail.de">henrik.petersen&#64;mail.de</a>
    </div>
    <div class="scroll-container">
        <div class="rotate-container">
            <p>Scroll down</p>
            <img src="" alt="">
        </div>
    </div>
</div>