<div class="main">
    <h3>{{ 'contact.headline' | translate }}</h3>
    <div class="content">
        <div class="text-container">
            <h4>{{ 'contact.intro' | translate }}</h4>
            <p>{{ 'contact.request-contact' | translate }}</p>
            <p>{{ 'contact.new-contact' | translate }}</p>
            <div class="shadow"></div>
        </div>
        <div class="contact-field-container">
            <form (ngSubmit)="onSubmit()">
                <label for="name"></label>
                <input [(ngModel)]="contactData.name" id="name" [placeholder]="'contact.name-field' | translate" type="text">
    
                <label for="email"></label>
                <input [(ngModel)]="contactData.email" id="email" [placeholder]="'contact.email-field' | translate" type="email">
    
                <label for="message"></label>
                <textarea [(ngModel)]="contactData.message" id="message" [placeholder]="'contact.message-field' | translate" type="text"></textarea>
    
                <div class="send-container">
                    <div class="accept">
                        @if (this.accept) {
                            <a (click)="changeStatusPolicy()"><img src="assets/img/check_box.svg" alt="checkbox"></a>
                        } @else {
                            <a (click)="changeStatusPolicy()"><img src="assets/img/check_box_outline_blank.svg" alt="checkbox"></a>
                        }
                        <p>{{ 'contact.acceptdata' | translate }} <a href="#">{{ 'contact.policy' | translate }}</a>{{ 'contact.acceptdata2' | translate }}</p>
                    </div>
                    <div class="button">
                        <button>{{ 'contact.send' | translate }}</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    
</div>
