<section class="contact">
    <div class="head">
      <div class="line-left"></div>
      <h3>{{ "contact.headline" | translate }}</h3>
      <div class="spacer"></div>
    </div>
    <div class="content">
      <div class="max-content">
        <div class="text-container">
          <h4>{{ "contact.intro" | translate }}</h4>
          <p>{{ "contact.request-contact" | translate }}</p>
          <p>{{ "contact.new-contact" | translate }}</p>
        </div>
        <div class="contact-field-container">
          <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div>
              <div
                [ngStyle]="{
                  'border-color': name.touched
                    ? name.valid
                      ? '#70E61C'
                      : '#E61C40'
                    : ''
                }"
                class="field"
              >
                <label for="name"></label>
                <input
                  #name="ngModel"
                  [(ngModel)]="contactData.name"
                  name="name"
                  id="name"
                  [placeholder]="'contact.name-field' | translate"
                  type="text"
                  required
                />
                @if(name.touched) {
                <img
                  [src]="
                    !name.valid
                      ? 'assets/img/false_input.svg'
                      : 'assets/img/true_input.svg'
                  "
                  alt=""
                />
                }
              </div>
              @if (!name.valid && name.touched) {
              <span class="error">{{ "contact.name-error" | translate }}</span>
              }
            </div>
    
            <div>
              <div
                [ngStyle]="{
                  'border-color': email.touched
                    ? email.valid
                      ? '#70E61C'
                      : '#E61C40'
                    : ''
                }"
                class="field"
              >
                <label for="email"></label>
                <input
                  #email="ngModel"
                  [(ngModel)]="contactData.email"
                  name="email"
                  id="email"
                  [placeholder]="'contact.email-field' | translate"
                  type="email"
                  required
                  pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                />
                @if(email.touched) {
                <img
                  [src]="
                    !email.valid
                      ? 'assets/img/false_input.svg'
                      : 'assets/img/true_input.svg'
                  "
                  alt=""
                />
                }
              </div>
              @if (!email.valid && email.touched) {
              <span class="error">{{ "contact.email-error" | translate }}</span>
              }
            </div>
    
            <div>
              <div
                [ngStyle]="{
                  'border-color': message.touched
                    ? message.valid
                      ? '#70E61C'
                      : '#E61C40'
                    : ''
                }"
                class="field"
              >
                <label for="message"></label>
                <textarea
                  #message="ngModel"
                  minlength="4"
                  maxlength="400"
                  [(ngModel)]="contactData.message"
                  name="message"
                  id="message"
                  [placeholder]="'contact.message-field' | translate"
                  type="text"
                  required
                ></textarea>
                @if(message.touched) {
                <img
                  [src]="
                    !message.valid
                      ? 'assets/img/false_input.svg'
                      : 'assets/img/true_input.svg'
                  "
                  alt=""
                />
                }
              </div>
              @if (!message.valid && message.touched) {
              <span class="error">{{ "contact.message-error" | translate }}</span>
              }
            </div>
    
            <div class="send-container">
              <div class="accept">
                @if (this.accept) {
                <a (click)="changeStatusPolicy()"
                  ><img src="assets/img/check_box.svg" alt="checkbox"
                /></a>
                } @else {
                <a (click)="changeStatusPolicy()"
                  ><img src="assets/img/check_box_outline_blank.svg" alt="checkbox"
                /></a>
                }
                <p>{{'contact.privacy-policy' | translate }} <a routerLink="/data-protection">{{ 'contact.privacy-policy-link' | translate }}</a> {{'contact.privacy-policy-two' | translate }}</p>
              </div>
              <div>
                @if (touchedAccept && !accept) {
                <span class="error">{{
                  "contact.privacy-policy-error" | translate
                }}</span>
                }
              </div>
              <div class="button">
                <button
                  [ngClass]="{
                    'active-btn':
                      accept && name.valid && email.valid && message.valid,
                    'default-btn':
                      !accept || !name.valid || !email.valid || !message.valid
                  }"
                  [disabled]="!accept"
                >
                  {{ "contact.send" | translate }}
                </button>
              </div>
              <div class="thanks-container">
                <span [ngStyle]="{'display': send ? 'block' : 'none'}" class="thanks-for-message">{{ 'contact.thanks-for-message' | translate }}</span>
              </div>
            </div>
          </form>
          <div class="go-up-button">
            <a href="#">
              <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="1" y="1" width="37" height="37" rx="18.5" stroke="white" stroke-width="2"/>
              <path d="M18 15.828L13.343 20.485C12.9526 20.8755 12.3195 20.8755 11.929 20.485C11.5386 20.0945 11.5386 19.4615 11.929 19.071L18.2929 12.7071C18.6834 12.3166 19.3166 12.3166 19.7071 12.7071L26.071 19.071C26.4615 19.4615 26.4615 20.0945 26.071 20.485C25.6806 20.8755 25.0475 20.8755 24.657 20.485L20 15.828L20 27C20 27.5523 19.5523 28 19 28C18.4477 28 18 27.5523 18 27L18 15.828Z" fill="white"/>
              </svg>
              </a>
          </div>
        </div>
      </div>
      </div>
</section>
