@import './../../../styles.scss';

.main {
    background-color: #141D2F;
    padding-top: 140px;
}

.head {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 32px;
    >.line-left {
        background-color: #9747FF;
        height: 4px;
        flex-grow: 1;
    }
    >h3 {
        flex-shrink: 0;
        margin-left: 32px;
        text-align: center;
        @include defaultFont($font-weight: 700, $fontsize: 90px, $color: #FFFFFF);
    }
    >.spacer {
        flex-grow: 1;
        visibility: hidden;
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    >.text-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-left: 100px;
        margin-right: 32px;
        >h4 {
            @include defaultFont($font-weight: 700, $fontsize: 32px, $color: #FFFFFF);
        }
        >p {
            @include defaultFont($font-weight: 400, $fontsize: 16px, $color: #FFFFFF);
        }
    }
    >.contact-field-container {
        display: flex;
        flex-direction: column;
        margin-right: 100px;
        >form {
            display: flex;
            flex-direction: column;
            gap: 32px;
            margin-bottom: 10px;
            .field {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #141D2F;
                border: 1px solid #9747FF;
                border-radius: 10px;
                padding: 15px 25px 15px 25px;
                margin-bottom: 10px;
                &:hover {
                    border: 1px solid #70E61C;
                }
                >input, textarea {
                    resize: none;
                    background-color: #141D2F;
                    width: 100%;
                    border: none;
                    @include defaultFont($font-weight: 400, $fontsize: 16px, $color: #FFFFFF);
                    &::placeholder {
                        @include defaultFont($font-weight: 400, $fontsize: 16px, $color: #FFFFFF);
                    }
                    &:focus-visible, :active {
                        outline: none;
                    }
                }
                >img {
                    width: 25px;
                    height: 25px;
                }
            }
            >.send-container {
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin-bottom: 32px;
                >.accept {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 8px;
                    >a >img{
                        width: 18px;
                        height: 18px;
                    }
                    >p {
                        @include defaultFont($font-weight: 400, $fontsize: 14px, $color: #FFFFFF);
                        >a {
                            @include defaultFont($font-weight: 400, $fontsize: 14px, $color: #9747FF);
                        }
                    }
                }
                >.button {
                    display: flex;
                    justify-content: center;
                }
            }
        }

    }
}

.go-up-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 32px;
    >a >svg {
        width: 39px;
        height: 39px;
    }
    a:hover > svg {
        fill : #70E61C;
    }
}

.default-btn {
    @include button($border-radius: 10px, $background-color: #B6B6B6, $color: #FFFFFF, $font-size: 23px);
    &:hover {
        background-color: #B6B6B6;
        transform: scale(1);
    }
}

.active-btn {
    @include button($border-radius: 10px, $background-color: #70E61C, $color: #FFFFFF, $font-size: 23px);
    &:hover {
        background-color: #70E61C;
        transform: scale(1);
    }
}

.error {
    @include defaultFont($font-weight: 400, $fontsize: 14px, $color: #E61C40);
    margin: 0;
}
.shadow {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 300px;
    width: 500px;
    background-image: url('./../../../assets/img/33.\ Purple\ shadow\ Footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 750px) {
    .head {
        h3 {
            @include defaultFont($font-weight: 700, $fontsize: 45px, $color: #FFFFFF);
        }
    }
    .content {
        flex-direction: column;
        h4 {
            @include defaultFont($font-weight: 700, $fontsize: 23px, $color: #FFFFFF);   
        }
        .text-container {
            margin: 25px;
        }
    }
    .field {
        margin-left: 50px;
    }
    .accept {
        margin: 25px;
    }
}