<div class="content">
    <div class="head">
        <div class="line-container">
            <h3>Portfolio</h3>
        </div>
        <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>
    </div>
    <div class="projects-container">
        <div class="project">
            <img src="assets/img/join.svg" alt="join">
            <div class="project-info">
                <h4>Join</h4>
                <p class="project-technologies">HTML | CSS | JavaScript | Firebase</p>
                <p class="project-description">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</p>
                <div class="buttons">
                    <a href="#" target="_blank"><button class="btn-test">Live test</button></a>
                    <a href="https://github.com/HPetersen2/Join.git" target="_blank"><button class="btn-github">Github</button></a>
                </div>
            </div>
        </div>

        <div class="project">
            <img src="assets/img/pollo-loco.svg" alt="el-pollo-loco">
            <div class="project-info">
                <h4>El Pollo Loco</h4>
                <p class="project-technologies">HTML | CSS | JavaScript</p>
                <p class="project-description">Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen.</p>
                <div class="buttons">
                    <a href="#" target="_blank"><button class="btn-test">Live test</button></a>
                    <a href="https://github.com/HPetersen2/El-pollo-loco.git" target="_blank"><button class="btn-github">Github</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
