<div class="content">
    <div class="head">
        <div class="headline">
            <div class="line-left"></div>
            <h3>Portfolio</h3>
            <div class="line-right"></div>
        </div>
        <p>{{ 'portfolio.intro' | translate }}</p>
    </div>
    <div class="projects-container">
        <div class="project">
            <img src="assets/img/join.svg" alt="join">
            <div class="project-info">
                <h4>Join</h4>
                <p class="project-technologies">HTML | CSS | JavaScript | Firebase</p>
                <p class="project-description">{{ 'portfolio.join' | translate }}</p>
                <div class="buttons">
                    <a href="#" target="_blank"><button class="btn-test">{{ 'portfolio.btn-test' | translate }}</button></a>
                    <a href="https://github.com/HPetersen2/Join.git" target="_blank"><button class="btn-github">Github</button></a>
                </div>
            </div>
        </div>

        <div class="project">
            <img src="assets/img/pollo-loco.svg" alt="el-pollo-loco">
            <div class="project-info">
                <h4>El Pollo Loco</h4>
                <p class="project-technologies">HTML | CSS | JavaScript</p>
                <p class="project-description">{{ 'portfolio.pollo-loco' | translate }}</p>
                <div class="buttons">
                    <a href="#" target="_blank"><button class="btn-test">{{ 'portfolio.btn-test' | translate }}</button></a>
                    <a href="https://github.com/HPetersen2/El-pollo-loco.git" target="_blank"><button class="btn-github">Github</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
