@import './../../styles.scss';

.content {
    background-color: #141D2F;
    display: flex;
    flex-direction: column;
    padding-top: 140px;
    >.head {
        display: flex;
        flex-direction: column;
        align-items: center;

        >.headline {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            >h3 {
                @include defaultFont($font-weight: 700, $fontsize: 90px, $color: #FFFFFF);
                margin: 0 20px;
            }
            >.line-right {
                flex: 1;
                height: 4px;
                background-color: #9747FF;
                margin-left: 32px;
            }
            >.line-container {
                flex: 1;
                width: 100%;
                display: flex;
                justify-content: end;
                >.line-left {
                    height: 4px;
                    background-color: #9747FF;
                    margin-right: 32px;
                    width: 100px;
                }
            }
        }
        >p {
            @include defaultFont($font-weight: 400, $fontsize: 16px, $color: #FFFFFF);
        }
    }
    >.projects-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        >.project:nth-child(odd) {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 35px;
        }
        >.project:nth-child(even) {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 35px;
        }
        >.project {
            max-width: 1168px;
            >img {
                width: 620px;
            }
            >.project-info {
                display: flex;
                flex-direction: column;
                gap: 35px;
                >h4 {
                    @include defaultFont($font-weight: 700, $fontsize: 32px, $color: #9747FF);
                }
                >.project-technologies {
                    @include defaultFont($font-weight: 400, $fontsize: 23px, $color: #70E61C);
                }
                >.project-description {
                    @include defaultFont($font-weight: 400, $fontsize: 16px, $color: #FFFFFF);
                }
                >.buttons {
                    display: flex;
                    flex-direction: row;
                    gap: 86px;
                    >a {
                        >.btn-test {
                            @include button($border-radius: 10px, $background-color: #9747FF, $color: #FFFFFF, $font-size: 23px);
                            &:hover {
                                background-color: #70E61C;
                                transform: scale(1);
                            }
                        }
                    }
                    >a {
                        >.btn-github {
                            @include button($border-radius: 10px, $background-color: transparent, $color: #FFFFFF, $font-size: 23px);
                            border: 1px solid #70E61C;
                            &:hover {
                                background-color: #70E61C;
                                transform: scale(1);
                            }
                        }
                    }
                }
            }
        }
    }
}