<div class="content">
    <div class="testimonial">
        <div class="text-container">
            <img src="./../../assets/img/Frame 281.svg" alt="frame">
            <p>Henrik really kept the team together with his great organization an clear communication. We wouldn't have got this far without his commitment.</p>
            <p>V. Schuster - Team Partner</p>
        </div>
        <div class="picture-container">

        </div>
    </div>
    <div class="menu">
        <div>links</div>
        <p>.</p>
        <div>rechts</div>
    </div>
</div>
