<section class="imprint" aria-label="Impressumseite">
    <div class="text-container">
            <h1 aria-label="Überschrift Impressum">{{ "imprint.headline" | translate }}</h1>
        <div aria-label="Adresse von Henrik Petersen" class="adress">
            <p>Henrik Petersen<br />
                Uslarer Str. 29<br />
                37170 Uslar</p>
        </div>
        <h2>{{ "imprint.contact" | translate }}</h2>
        <div aria-label="Kontakt von Henrik Petersen" class="contact">
            <table>
                <tr>
                    <td>{{ "imprint.phone" | translate }}:</td>
                    <td><a href="tel:+4917656035923">+49 176 56035923</a></td>
                </tr>
                <tr>
                    <td>E-Mail:</td>
                    <td><a href="mailto:kontakt@henrik-petersen.de">kontakt&#64;henrik-petersen.de</a></td>
                </tr>
            </table>
        </div>
        <p>{{ "imprint.source" | translate }}: <a href="https://www.e-recht24.de">eRecht24</a></p>
    </div>
</section>
