<section class="hero">
    <div class="content">
        <div class="main">
            <div class="picture-container" data-aos="fade-right">
                <img src="assets/img/HP_default-min.png" alt="Henrik Petersen">
            </div>
            <div class="introduction-container">
                <div class="text-container">
                    <div class="rotate-introduction" data-aos="fade-down">
                        <p class="i-am">I am</p>
                    </div>
                    <div class="introduction">
                        <p data-aos="zoom-in" class="name">Henrik Petersen<br></p>
                        <p data-aos="zoom-in-up" class="position">Frontend Developer</p>
                    </div>
                </div>
                <div class="button-container">
                    <a href="#contact"><button>Let's talk</button></a>
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="purple-line"></div>
            <div class="contact-container" data-aos="fade-right">
                <div class="link-container">
                    <a class="icon" target="_blank" href="https://github.com/HPetersen2"><img src="./../../assets/img/github_big.svg" alt="github"></a>
                    <a class="icon" href="mailto:mail@henrik-petersen.de"><img src="./../../assets/img/mail_big.svg" alt="mail"></a>
                    <a class="icon" target="_blank" href="https://www.linkedin.com/in/henrik-petersen-9b08b3346/"><img src="./../../assets/img/linkedin_big.svg" alt="linkedin"></a>
                    <a class="mail" href="mailto:mail@henrik-petersen.de">mail&#64;henrik-petersen.de</a>
                </div>
                <div class="scroll-container" data-aos="fade-down">
                    <div>
                        <p>Scroll down</p>
                        <img src="assets/img/arrow_down.svg" alt="down">
                    </div>
                </div>
            </div>
            <div class="spacer"></div>
        </div>        
    </div>
    <div class="background">
        <img src="assets/img/28. Hero Background.svg" alt="">
    </div>
</section>
