<section class="hero">
    <section class="content">
        <section class="main">
            <article class="picture-container" data-aos="fade-right">
                <img aria-label="Bild von Henrik Petersen" src="assets/img/HP_default-min.png" alt="Henrik Petersen">
            </article>
            <article class="introduction-container">
                <article class="text-container">
                    <div class="rotate-introduction" data-aos="fade-down">
                        <p aria-label="Ich bin" class="i-am">I am</p>
                    </div>
                    <div class="introduction">
                        <p aria-label="Name: Henrik Petersen" data-aos="zoom-in" class="name">Henrik Petersen<br></p>
                        <p aria-label="Frontend Developer" data-aos="zoom-in-up" class="position">Frontend Developer</p>
                    </div>
                </article>
                <div class="button-container">
                    <a aria-label="Button um zur Sektion Kontakt zu scrollen" href="#contact"><button>Let's talk</button></a>
                </div>
            </article>
        </section>
        <section class="foot">
            <div class="purple-line"></div>
            <article class="contact-container" data-aos="fade-right">
                <div class="link-container">
                    <a aria-label="Link zu GitHub" class="icon" target="_blank" href="https://github.com/HPetersen2"><img src="assets/img/github_big.svg" alt="github"></a>
                    <a aria-label="Link um eine E-Mail zu schreiben" class="icon" href="mailto:mail@henrik-petersen.de"><img src="assets/img/mail_big.svg" alt="mail"></a>
                    <a aria-label="Link zu LinkedIn" class="icon" target="_blank" href="https://www.linkedin.com/in/henrik-petersen-9b08b3346/"><img src="assets/img/linkedin_big.svg" alt="linkedin"></a>
                    <a aria-label="E-Mail Icon" class="mail" href="mailto:mail@henrik-petersen.de">mail&#64;henrik-petersen.de</a>
                </div>
                <div class="scroll-container" data-aos="fade-down">
                    <div aria-label="Hinweis um nach unten zu scrollen">
                        <p>Scroll down</p>
                        <img src="assets/img/arrow_down.svg" alt="down">
                    </div>
                </div>
            </article>
            <div class="spacer"></div>
        </section>        
    </section>
    <div class="background">
        <img src="assets/img/28. Hero Background.svg" alt="background">
    </div>
</section>
