@import './../../../styles.scss';

.hero {
    background-color: #141D2F;
    width: 100vw;
    min-height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-top: 120px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 3;
}

.main {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    >.picture-container {
        background-image: url('./../../../assets/img/29.\ photo\ shadows.svg');
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        >img {
            max-width: 400px;
            height: auto;
        }
    }
    >.introduction-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        >.text-container {
            display: flex;
            align-items: center;
            >.rotate-introduction {
                white-space: nowrap;
                transform: rotate(-90deg);
                @include defaultFont($color: #FFFFFF, $font-weight: 400, $fontsize: 58px);
            }
            >.introduction {
                margin-bottom: 32px;
                >.name {
                    white-space: nowrap;
                    @include defaultFont($color:#FFFFFF, $font-weight: 700, $fontsize: 90px);
                }
                >.position {
                    @include defaultFont($color: #9747FF, $font-weight: 400, $fontsize: 58px);
                }
            }
        }
        >.button-container {
            >a {
                >button {
                    @include button();
                }
            }
            &:hover {
                animation: scrollAnimation 300ms ease-out;
            }
        }
    }
}

.background {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    >img {
        width: 100%;
    }
}

@keyframes scrollAnimation {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-bottom: 100px;
    >.purple-line {
        display: flex;
        align-items: flex-end;
        flex: 1;
        min-width: 100px;
        height: 4px;
        background-color: #9747FF;
        margin: 27px 25px 0 0;
    }
    >.contact-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        >.link-container {
            display: flex;
            align-items: center;
            gap: 32px;
            margin-top: 32px;
            >.icon {
                width: 30px;
                &:hover {
                    transition: all ease 0.2s;
                    transform: scale(1.3);
                }
            }
            >.mail {
                @include defaultFont($font-weight: 400, $fontsize: 23px);
            }
        }
        >.scroll-container {
            margin-bottom: 10px;
            >div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 60px;
                margin-left: 100px;
                &:hover {
                    animation: moveUpDown 0.8s ease-in-out infinite alternate;
                }
                >p {
                    transform: rotate(90deg);
                    @include defaultFont($color: #FFFFFF, $font-weight: 400, $fontsize: 23px);
                }
                >img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
    >.spacer {
        flex: 1;
    }
}


@keyframes moveUpDown {
    0% { transform: translateY(0); }    // Startposition
    50% { transform: translateY(-12px); } // Nach oben
    100% { transform: translateY(0); }  // Wieder zurück nach unten
}

@media (max-width: 1220px) {
    .main {
        .introduction-container {
            .text-container {
                .introduction {
                    .name {
                        white-space: normal;
                    }
                }
            }
        }
    }
    .content > .foot {
        padding: 25px;
    }
}

@media (max-width: 1100px) {
    .hero {
        width: unset;
    }
    .main {
        .introduction-container {
            .text-container {
                .rotate-introduction {
                    .i-am {
                        @include defaultFont($color: #FFFFFF, $font-weight: 400, $fontsize: 46px);
                    }
                }
                .introduction {
                    .name {
                        @include defaultFont($color:#FFFFFF, $font-weight: 700, $fontsize: 72px);
                    }
                    .position {
                        @include defaultFont($color: #9747FF, $font-weight: 400, $fontsize: 46px);
                    }
                }
            }
        }
    }
}

@media (max-width: 950px) {
    .main {
        .picture-container {
            width: 80%;
            img {
                height: auto;
                width: 100%;
                display: block;
            }
        }
        .introduction-container {
            .text-container {
                .rotate-introduction {
                    .i-am {
                        @include defaultFont($color: #FFFFFF, $font-weight: 400, $fontsize: 32px);
                    }
                }
                .introduction {
                    .name {
                        @include defaultFont($color:#FFFFFF, $font-weight: 700, $fontsize: 44px);
                    }
                    .position {
                        @include defaultFont($color: #9747FF, $font-weight: 400, $fontsize: 28px);
                    }
                }
            }
        }
    }
    .contact-container {
        .link-container {
            .mail {
                display: none;
            }
        }
        .scroll-container {
            display: none;
        }
    }
}

@media (max-width: 750px) {
    .main {
        flex-direction: column;
    }
    .background {
        bottom: -400px;
    }
}

@media (max-width: 450px) {
    .content {
        .main {
            .picture-container {
                width: 60%;
            }
            .introduction-container {
                .rotate-introduction {
                    .i-am {
                        font-size: 23px;
                    }
                }
                .introduction {
                    .name {
                        font-size: 30px;
                    }
                    .position {
                        font-size: 23px;
                    }
                }
            }
        }
        .foot {
            padding: 0;
        }
    }
}