<section class="data-protection" aria-label="Datenschutzseite">
    <div class="content" aria-label="Datenschutzinhalt">
        <h2 style="margin-bottom: 25px;" class="headline">{{ 'data-protection.headline' | translate }}</h2>
        <p>{{ 'data-protection.p1' | translate }}</p>
    
        <p>{{ 'data-protection.p2' | translate }}</p>
        
        <p>{{ 'data-protection.p3' | translate }}</p>
        
        <h4>{{ 'data-protection.h1' | translate }}</h4>
        <p>{{ 'data-protection.p4' | translate }}</p>
        
        <p>{{ 'data-protection.p5' | translate }}</p>
        <ul style="list-style: none">
        <li><h4>{{ 'data-protection.h2' | translate }}</h4>
        <p>{{ 'data-protection.p6' | translate }}</p>
        </li>
        <li><h4>{{ 'data-protection.h3' | translate }}</h4>
        <p>{{ 'data-protection.p7' | translate }}</p>
        </li>
        <li><h4>{{ 'data-protection.h4' | translate }}</h4>
        <p>{{ 'data-protection.p8' | translate }}</p>
        </li>
        <li><h4>{{ 'data-protection.h5' | translate }}</h4>
        <p>{{ 'data-protection.p9' | translate }}</p>
        </li>
        <li><h4>{{ 'data-protection.h6' | translate }}</h4>
        <p>{{ 'data-protection.p10' | translate }}</p>
        </li>
        <li><h4>{{ 'data-protection.h7' | translate }}</h4>
        <p>{{ 'data-protection.p11' | translate }}</p>
        </li>
        <li><h4>{{ 'data-protection.h8' | translate }}</h4>
        <p>{{ 'data-protection.p12' | translate }}</p>
        </li>
        <li><h4>{{ 'data-protection.h9' | translate }}</h4>
        <p>{{ 'data-protection.p13' | translate }}</p>
        </li>
        <li><h4>{{ 'data-protection.h10' | translate }}</h4>
        <p>{{ 'data-protection.p14' | translate }}</p>
        </li>
        <li><h4>{{ 'data-protection.h11' | translate }}</h4>
        <p>{{ 'data-protection.p15' | translate }}</p>
        </li>
        <li><h4>{{ 'data-protection.h12' | translate }}</h4>
        <p>{{ 'data-protection.p16' | translate }}</p>
        </li>
        </ul>
        
        <h4>{{ 'data-protection.h13' | translate }}</h4>
        <p>{{ 'data-protection.p17' | translate }}</p>
        
        <p>Henrik Petersen</p>
        <p>Uslarer Str. 29</p>
        <p>37170 Uslar</p>
        <p>Deutschland</p>
        <p>{{ 'data-protection.p18' | translate }}</p>
        <p>E-Mail: kontakt&#64;henrik-petersen.de</p>
        <p>Website: www.henrik-petersen.de</p>
        
        <h4>{{ 'data-protection.h14' | translate }}</h4>
        <p>{{ 'data-protection.p19' | translate }}</p>
        
        <p>{{ 'data-protection.p20' | translate }}</p>
        
        <h4>{{ 'data-protection.h15' | translate }}</h4>
        <p>{{ 'data-protection.p21' | translate }}</p>
        
        <h4>{{ 'data-protection.h16' | translate }}</h4>
        <p>{{ 'data-protection.p22' | translate }}</p>
        
        <p>{{ 'data-protection.p23' | translate }}</p>
        
        <h4>{{ 'data-protection.h17' | translate }}</h4>
        <ul style="list-style: none;">
        <li><h4>{{ 'data-protection.h18' | translate }}</h4>
        <p>{{ 'data-protection.p24' | translate }}</p>
        </li>
        <li><h4>{{ 'data-protection.h19' | translate }}</h4>
        <p>{{ 'data-protection.p25' | translate }}</p>
        
        <ul style="list-style: none;">
        <li>{{ 'data-protection.p26' | translate }}</li>
        <li>{{ 'data-protection.p27' | translate }}</li>
        <li>{{ 'data-protection.p28' | translate }}</li>
        <li>{{ 'data-protection.p29' | translate }}</li>
        <li>{{ 'data-protection.p30' | translate }}</li>
        <li>{{ 'data-protection.p31' | translate }}</li>
        <li>{{ 'data-protection.p32' | translate }}</li>
        <li>{{ 'data-protection.p33' | translate }}</li>
        
        </ul>
        <p>{{ 'data-protection.p34' | translate }}</p>
        
        <p>{{ 'data-protection.p35' | translate }}</p>
        </li>
        <li><h4>{{ 'data-protection.h20' | translate }}</h4>
        <p>{{ 'data-protection.p36' | translate }}</p>
        
        <p>{{ 'data-protection.p37' | translate }}</p></li>
        <li>
        <h4>{{ 'data-protection.h21' | translate }}</h4>
        <p>{{ 'data-protection.p38' | translate }}</p>
        
        <ul style="list-style: none;">
        <li>{{ 'data-protection.p39' | translate }}</li>
        <li>{{ 'data-protection.p40' | translate }}</li>
        <li>{{ 'data-protection.p41' | translate }}</li>
        <li>{{ 'data-protection.p42' | translate }}</li>
        <li>{{ 'data-protection.p43' | translate }}</li>
        <li>{{ 'data-protection.p44' | translate }}</li>
        
        </ul>
        <p>{{ 'data-protection.p45' | translate }}</p>
        
        <p>{{ 'data-protection.p46' | translate }}</p>
        </li>
        <li><h4>{{ 'data-protection.h22' | translate }}</h4>
        <p>{{ 'data-protection.p47' | translate }}</p>
        
        <ul style="list-style: none;">
        <li>{{ 'data-protection.p48' | translate }}</li>
        <li>{{ 'data-protection.p49' | translate }}</li>
        <li>{{ 'data-protection.p50' | translate }}</li>
        <li>{{ 'data-protection.p51' | translate }}</li>
        
        </ul>
        <p>{{ 'data-protection.p52' | translate }}</p>
        </li>
        <li><h4>{{ 'data-protection.h23' | translate }}</h4>
        <p>{{ 'data-protection.p53' | translate }}</p>
        
        <p>{{ 'data-protection.p54' | translate }}</p>
        
        <p>{{ 'data-protection.p55' | translate }}</p>
        
        </li>
        <li>
        <h4>{{ 'data-protection.h24' | translate }}</h4>
        <p>{{ 'data-protection.p56' | translate }}</p>
        
        <p>{{ 'data-protection.p57' | translate }}</p>
        
        <p>{{ 'data-protection.p58' | translate }}</p>
        
        <p>{{ 'data-protection.p59' | translate }}</p>
        
        <p>{{ 'data-protection.p60' | translate }}</p>
        </li>
        <li><h4>{{ 'data-protection.h25' | translate }}</h4>
        <p>{{ 'data-protection.p61' | translate }}</p>
        
        <p>{{ 'data-protection.p62' | translate }}</p>
        
        <p>{{ 'data-protection.p63' | translate }}</p>
        
        </li>
        <li><h4>{{ 'data-protection.h26' | translate }}</h4>
        <p>{{ 'data-protection.p64' | translate }}</p>
        
        <p>{{ 'data-protection.p65' | translate }}</p>
        
        </li>
        </ul>
        <h4>{{ 'data-protection.h27' | translate }}</h4>
        <p>{{ 'data-protection.p66' | translate }}</p>
        
        <p>{{ 'data-protection.p67' | translate }}</p>
        
        <p>{{ 'data-protection.p68' | translate }}</p>
        
        <p>{{ 'data-protection.p69' | translate }}</p>
        
        <p>{{ 'data-protection.p70' | translate }}</p>
        
        <p>{{ 'data-protection.p71' | translate }}</p>
        
        <h4>{{ 'data-protection.h28' | translate }}</h4>
        <p>{{ 'data-protection.p72' | translate }}</p>
        
        <h4>{{ 'data-protection.h29' | translate }}</h4>
        <p>{{ 'data-protection.p73' | translate }}</p>
        
        <h4>{{ 'data-protection.h30' | translate }}</h4>
        <p>{{ 'data-protection.p74' | translate }}</p>
        
        <h4>{{ 'data-protection.h31' | translate }}</h4>
        <p>{{ 'data-protection.p75' | translate }}</p>
        
        <h4>{{ 'data-protection.h32' | translate }}</h4>
        <p>{{ 'data-protection.p76' | translate }}</p>
        
        <p>{{ 'data-protection.p77' | translate }}<a href="https://dg-datenschutz.de/">Prof. Dr. h.c. Heiko Jonny Maniero</a>{{ 'data-protection.p78' | translate }}<a href="https://www.wbs.legal/" rel="nofollow">Christian Solmecke</a>{{ 'data-protection.p79' | translate }}</p>
    </div>
</section>



