@import './../../styles.scss';


.data-protection {
    background-color: #141D2F;
    width: 100vw;
    display: flex;
    justify-content: center;
    .content {
        padding-top: 120px;
        margin: 100px;
        max-width: 1440px;
        >.headline {
            text-align: center;
        }
        >h1 {
            @include defaultFont($font-weight: 700, $fontsize: 90px, $color: #FFFFFF);
        }
        >h2 {
            @include defaultFont($font-weight: 700, $fontsize: 45px, $color: #FFFFFF);
        }
        >h3, h4 {
            @include defaultFont($font-weight: 700, $fontsize: 23px, $color: #FFFFFF);
        }
        >p, ul {
            @include defaultFont($font-weight: 400, $fontsize: 16px, $color: #FFFFFF);
        }
        >a {
            @include defaultFont($font-weight: 400, $fontsize: 16px, $color: #FFFFFF);
        }
    }
}

@media (max-width: 550px) {
    .data-protection > .content{
        margin: 25px;
        h1 {
            @include defaultFont($font-weight: 700, $fontsize: 45px, $color: #FFFFFF);
        }
        h2 {
            @include defaultFont($font-weight: 700, $fontsize: 23px, $color: #FFFFFF);
        }
    }
}

@media (max-width: 450px) {
    .data-protection > .content{
        >h3, h4 {
            @include defaultFont($font-weight: 700, $fontsize: 16px, $color: #FFFFFF);
        }
        >p, ul {
            @include defaultFont($font-weight: 400, $fontsize: 14px, $color: #FFFFFF);
        }
        >a {
            @include defaultFont($font-weight: 400, $fontsize: 14px, $color: #FFFFFF);
        }
    }
}