* {
    scroll-behavior: smooth;
    scrollbar-width: none;

    // background: linear-gradient(180deg, #1F2A1F, black);
}

body {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
  
p {
    margin: 0;
}

span {
    margin: 0;
}

@font-face {
    font-family: Poppins;
    src: url('./assets/fonts/Poppins-Medium.ttf');
}

@mixin defaultFont($font-weight: 400, $fontsize:23px, $color: #FFFFFF) {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: $font-weight;
    font-size: $fontsize;
    color: $color;
}

@mixin button($border-radius: 10px, $background-color: #70E61C, $color: #FFFFFF, $font-size: 23px) {
    border: none;
    border-radius: $border-radius;
    padding: 15px 30px 15px 30px;
    background-color: $background-color;
    font-family: 'Poppins', Arial, sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: $font-size;
    &:hover {
        background-color: #9747FF;
        transform: scale(1.15 );
    }
}