<section class="portfolio" aria-label="Portfolio Sektion">
    <header class="head">
        <article class="headline">
            <div class="line-container">
                <div class="line-left"></div>
            </div>
            <h3 aria-label="Portfolio">Portfolio</h3>
            <div class="line-right"></div>
        </article>
        <p>{{ 'portfolio.intro' | translate }}</p>
    </header>
    <section class="max-content">
        <section class="projects-container">
            <article aria-label="Projekt Join" class="project" data-aos="zoom-in-right">
                <img src="assets/img/join.svg" alt="join">
                <div class="project-info">
                    <h4>Join</h4>
                    <p class="project-technologies">HTML | CSS | JavaScript | Firebase</p>
                    <p class="project-description">{{ 'portfolio.join' | translate }}</p>
                    <div class="buttons">
                        <a href="https://join.henrik-petersen.de" target="_blank"><button class="btn-test">{{ 'portfolio.btn-test' | translate }}</button></a>
                        <a href="https://github.com/HPetersen2/Join.git" target="_blank"><button class="btn-github">Github</button></a>
                    </div>
                </div>
            </article>
            <div class="background">
                <img src="assets/img/54. Green shadow 3 (skills and portfolio section).svg" alt="">
            </div>
            <article aria-label="Projekt El Pollo Loco" class="project" data-aos="zoom-in-left">
                <img src="assets/img/pollo-loco.svg" alt="el-pollo-loco">
                <div class="project-info">
                    <h4>El Pollo Loco</h4>
                    <p class="project-technologies">HTML | CSS | JavaScript</p>
                    <p class="project-description">{{ 'portfolio.pollo-loco' | translate }}</p>
                    <div class="buttons">
                        <a href="https://el-pollo-loco.henrik-petersen.de" target="_blank"><button class="btn-test">{{ 'portfolio.btn-test' | translate }}</button></a>
                        <a href="https://github.com/HPetersen2/El-pollo-loco.git" target="_blank"><button class="btn-github">Github</button></a>
                    </div>
                </div>
            </article>
                <article aria-label="Projekt DA Bubble" class="project" data-aos="zoom-in-right">
                <img src="assets/img/dabubble.svg" alt="dabubble">
                <div class="project-info">
                    <h4>DA Bubble</h4>
                    <p class="project-technologies">Angular | TypeScript | Firebase</p>
                    <p class="project-description">{{ 'portfolio.dabubble' | translate }}</p>
                    <div class="buttons">
                        <a href="https://dabubble.henrik-petersen.de" target="_blank"><button class="btn-test">{{ 'portfolio.btn-test' | translate }}</button></a>
                        <a href="https://github.com/HPetersen2/DaBubble.git" target="_blank"><button class="btn-github">Github</button></a>
                    </div>
                </div>
            </article>
        </section>
    </section>
</section>