@import './../../../styles.scss';

footer {
    border-top: 4px solid #70E61C;
    background-color: #141D2F;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 3;
    overflow-x: hidden;
    >.content {
        height: 300px;
        margin: 0 100px 0 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        width: 100%;
        >.henrik {
            display: flex;
            flex-direction: column;
            >svg {
                margin-bottom: 10px;
                &:focus {
                    outline: none;
                }
            }
            >.legalnotice {
                display: flex;
                flex-direction: column;
                >a {
                    @include defaultFont($font-weight: 400, $fontsize: 16px, $color: #FFFFFF);
                }
            }
        }
        >.copyright {
            @include defaultFont($font-weight: 400, $fontsize: 23px, $color: #FFFFFF);
        }
        >.icons {
            display: flex;
            flex-direction: row;
            gap: 24px;
            >.icon {
                width: 30px;
                height: 30px;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
        >.legalnotice-mobile {
            display: none;
        }
    }

}

@media(max-width: 750px) {
    footer {
        .content{
            flex-direction: column;
            justify-content: space-evenly;
            margin: 0;
            .henrik {
                .legalnotice {
                    display: none;
                }
            }
            .legalnotice-mobile {
                display: block;
            }
            .icons {
                gap: 42px;
    
            }
            .legalnotice-mobile {
                display: flex;
                flex-direction: column;
                align-items: center;
                >a {
                    @include defaultFont($font-weight: 400, $fontsize: 16px, $color: #FFFFFF);
                }
            }
        }
    }
}